# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode

build
Examples/RGB-D/rgbd_tum
Thirdparty/DBoW2/build/
Thirdparty/g2o/build
Vocabulary/ORBvoc.txt
Examples/RGB-D/rgbd_tum

dynamic_slam_graph_after_opt.g2o
dynamic_slam_graph_before_opt.g2o
debug.txt
local_ba_before.g2o
local_ba_after.g2o
feat.png
dependencies/g2o/build
example/vdo_slam
track_distribution.txt
track_distribution_static.txt
