# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/3.12.1/CMakeCCompiler.cmake
build/CMakeFiles/3.12.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.12.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.12.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.12.1/CMakeSystem.cmake
build/CMakeFiles/3.12.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.12.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.c
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/ObjSLAM.dir/build.make
build/CMakeFiles/ObjSLAM.dir/cmake_clean.cmake
build/CMakeFiles/ObjSLAM.dir/CXX.includecache
build/CMakeFiles/ObjSLAM.dir/depend.internal
build/CMakeFiles/ObjSLAM.dir/depend.make
build/CMakeFiles/ObjSLAM.dir/DependInfo.cmake
build/CMakeFiles/ObjSLAM.dir/flags.make
build/CMakeFiles/ObjSLAM.dir/link.txt
build/CMakeFiles/ObjSLAM.dir/progress.make
build/CMakeFiles/progress.marks
build/CMakeFiles/rgbd_tum.dir/build.make
build/CMakeFiles/rgbd_tum.dir/cmake_clean.cmake
build/CMakeFiles/rgbd_tum.dir/CXX.includecache
build/CMakeFiles/rgbd_tum.dir/depend.internal
build/CMakeFiles/rgbd_tum.dir/depend.make
build/CMakeFiles/rgbd_tum.dir/DependInfo.cmake
build/CMakeFiles/rgbd_tum.dir/flags.make
build/CMakeFiles/rgbd_tum.dir/link.txt
build/CMakeFiles/rgbd_tum.dir/progress.make
build/CMakeFiles/TargetDirectories.txt
build/Makefile
Examples/RGB-D/rgbd_tum
Thirdparty/DBoW2/build/cmake_install.cmake
Thirdparty/DBoW2/build/CMakeCache.txt
Thirdparty/DBoW2/build/CMakeFiles/3.12.1/CMakeCCompiler.cmake
Thirdparty/DBoW2/build/CMakeFiles/3.12.1/CMakeCXXCompiler.cmake
Thirdparty/DBoW2/build/CMakeFiles/3.12.1/CMakeDetermineCompilerABI_C.bin
Thirdparty/DBoW2/build/CMakeFiles/3.12.1/CMakeDetermineCompilerABI_CXX.bin
Thirdparty/DBoW2/build/CMakeFiles/3.12.1/CMakeSystem.cmake
Thirdparty/DBoW2/build/CMakeFiles/3.12.1/CompilerIdC/CMakeCCompilerId.c
Thirdparty/DBoW2/build/CMakeFiles/3.12.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
Thirdparty/DBoW2/build/CMakeFiles/cmake.check_cache
Thirdparty/DBoW2/build/CMakeFiles/CMakeDirectoryInformation.cmake
Thirdparty/DBoW2/build/CMakeFiles/CMakeOutput.log
Thirdparty/DBoW2/build/CMakeFiles/DBoW2.dir/build.make
Thirdparty/DBoW2/build/CMakeFiles/DBoW2.dir/cmake_clean.cmake
Thirdparty/DBoW2/build/CMakeFiles/DBoW2.dir/CXX.includecache
Thirdparty/DBoW2/build/CMakeFiles/DBoW2.dir/depend.internal
Thirdparty/DBoW2/build/CMakeFiles/DBoW2.dir/depend.make
Thirdparty/DBoW2/build/CMakeFiles/DBoW2.dir/DependInfo.cmake
Thirdparty/DBoW2/build/CMakeFiles/DBoW2.dir/flags.make
Thirdparty/DBoW2/build/CMakeFiles/DBoW2.dir/link.txt
Thirdparty/DBoW2/build/CMakeFiles/DBoW2.dir/progress.make
Thirdparty/DBoW2/build/CMakeFiles/feature_tests.bin
Thirdparty/DBoW2/build/CMakeFiles/feature_tests.c
Thirdparty/DBoW2/build/CMakeFiles/feature_tests.cxx
Thirdparty/DBoW2/build/CMakeFiles/Makefile.cmake
Thirdparty/DBoW2/build/CMakeFiles/Makefile2
Thirdparty/DBoW2/build/CMakeFiles/progress.marks
Thirdparty/DBoW2/build/CMakeFiles/TargetDirectories.txt
Thirdparty/DBoW2/build/Makefile
Thirdparty/g2o/build/cmake_install.cmake
Thirdparty/g2o/build/CMakeCache.txt
Thirdparty/g2o/build/CMakeFiles/3.12.1/CMakeCCompiler.cmake
Thirdparty/g2o/build/CMakeFiles/3.12.1/CMakeCXXCompiler.cmake
Thirdparty/g2o/build/CMakeFiles/3.12.1/CMakeDetermineCompilerABI_C.bin
Thirdparty/g2o/build/CMakeFiles/3.12.1/CMakeDetermineCompilerABI_CXX.bin
Thirdparty/g2o/build/CMakeFiles/3.12.1/CMakeSystem.cmake
Thirdparty/g2o/build/CMakeFiles/3.12.1/CompilerIdC/CMakeCCompilerId.c
Thirdparty/g2o/build/CMakeFiles/3.12.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
Thirdparty/g2o/build/CMakeFiles/cmake.check_cache
Thirdparty/g2o/build/CMakeFiles/CMakeDirectoryInformation.cmake
Thirdparty/g2o/build/CMakeFiles/CMakeOutput.log
Thirdparty/g2o/build/CMakeFiles/feature_tests.bin
Thirdparty/g2o/build/CMakeFiles/feature_tests.c
Thirdparty/g2o/build/CMakeFiles/feature_tests.cxx
Thirdparty/g2o/build/CMakeFiles/FindOpenMP/OpenMPTryFlag.c
Thirdparty/g2o/build/CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp
Thirdparty/g2o/build/CMakeFiles/g2o.dir/build.make
Thirdparty/g2o/build/CMakeFiles/g2o.dir/C.includecache
Thirdparty/g2o/build/CMakeFiles/g2o.dir/cmake_clean.cmake
Thirdparty/g2o/build/CMakeFiles/g2o.dir/CXX.includecache
Thirdparty/g2o/build/CMakeFiles/g2o.dir/depend.internal
Thirdparty/g2o/build/CMakeFiles/g2o.dir/depend.make
Thirdparty/g2o/build/CMakeFiles/g2o.dir/DependInfo.cmake
Thirdparty/g2o/build/CMakeFiles/g2o.dir/flags.make
Thirdparty/g2o/build/CMakeFiles/g2o.dir/link.txt
Thirdparty/g2o/build/CMakeFiles/g2o.dir/progress.make
Thirdparty/g2o/build/CMakeFiles/Makefile.cmake
Thirdparty/g2o/build/CMakeFiles/Makefile2
Thirdparty/g2o/build/CMakeFiles/progress.marks
Thirdparty/g2o/build/CMakeFiles/TargetDirectories.txt
Thirdparty/g2o/build/Makefile
Vocabulary/ORBvoc.txt
Examples/RGB-D/rgbd_tum
Examples/RGB-D/rgbd_tum
Examples/RGB-D/rgbd_tum
build/CMakeFiles/Progress/13
build/CMakeFiles/Progress/count.txt
dynamic_slam_graph_after_opt.g2o
dynamic_slam_graph_before_opt.g2o
Thirdparty/g2o/build/CMakeFiles/Progress/35
Thirdparty/g2o/build/CMakeFiles/Progress/count.txt
debug.txt
local_ba_before.g2o
local_ba_after.g2o
feat.png
build/CMakeFiles/ObjSLAM.dir/src/Optimizer.cc-da1f2737.o.tmp
build/CMakeFiles/Progress/1
build/CMakeFiles/Progress/10
build/CMakeFiles/Progress/11
build/CMakeFiles/Progress/12
build/CMakeFiles/Progress/2
build/CMakeFiles/Progress/3
build/CMakeFiles/Progress/4
build/CMakeFiles/Progress/5
build/CMakeFiles/Progress/6
build/CMakeFiles/Progress/7
build/CMakeFiles/Progress/8
build/CMakeFiles/Progress/9
build/CMakeFiles/vdo_slam.dir/build.make
build/CMakeFiles/vdo_slam.dir/cmake_clean.cmake
build/CMakeFiles/vdo_slam.dir/depend.make
build/CMakeFiles/vdo_slam.dir/DependInfo.cmake
build/CMakeFiles/vdo_slam.dir/flags.make
build/CMakeFiles/vdo_slam.dir/link.txt
build/CMakeFiles/vdo_slam.dir/progress.make
build/CMakeFiles/vdo_slam.dir/CXX.includecache
build/CMakeFiles/vdo_slam.dir/depend.internal
dependencies/g2o/build/cmake_install.cmake
dependencies/g2o/build/CMakeCache.txt
dependencies/g2o/build/CMakeFiles/3.12.1/CMakeCCompiler.cmake
dependencies/g2o/build/CMakeFiles/3.12.1/CMakeCXXCompiler.cmake
dependencies/g2o/build/CMakeFiles/3.12.1/CMakeDetermineCompilerABI_C.bin
dependencies/g2o/build/CMakeFiles/3.12.1/CMakeDetermineCompilerABI_CXX.bin
dependencies/g2o/build/CMakeFiles/3.12.1/CMakeSystem.cmake
dependencies/g2o/build/CMakeFiles/3.12.1/CompilerIdC/CMakeCCompilerId.c
dependencies/g2o/build/CMakeFiles/3.12.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
dependencies/g2o/build/CMakeFiles/cmake.check_cache
dependencies/g2o/build/CMakeFiles/CMakeDirectoryInformation.cmake
dependencies/g2o/build/CMakeFiles/CMakeOutput.log
dependencies/g2o/build/CMakeFiles/feature_tests.bin
dependencies/g2o/build/CMakeFiles/feature_tests.c
dependencies/g2o/build/CMakeFiles/feature_tests.cxx
dependencies/g2o/build/CMakeFiles/FindOpenMP/OpenMPTryFlag.c
dependencies/g2o/build/CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp
dependencies/g2o/build/CMakeFiles/g2o.dir/build.make
dependencies/g2o/build/CMakeFiles/g2o.dir/C.includecache
dependencies/g2o/build/CMakeFiles/g2o.dir/cmake_clean.cmake
dependencies/g2o/build/CMakeFiles/g2o.dir/CXX.includecache
dependencies/g2o/build/CMakeFiles/g2o.dir/depend.internal
dependencies/g2o/build/CMakeFiles/g2o.dir/depend.make
dependencies/g2o/build/CMakeFiles/g2o.dir/DependInfo.cmake
dependencies/g2o/build/CMakeFiles/g2o.dir/flags.make
dependencies/g2o/build/CMakeFiles/g2o.dir/link.txt
dependencies/g2o/build/CMakeFiles/g2o.dir/progress.make
dependencies/g2o/build/CMakeFiles/Makefile.cmake
dependencies/g2o/build/CMakeFiles/Makefile2
dependencies/g2o/build/CMakeFiles/progress.marks
dependencies/g2o/build/CMakeFiles/TargetDirectories.txt
dependencies/g2o/build/Makefile
example/vdo_slam
track_distribution.txt
track_distribution_static.txt
